﻿@using FileStorageSystem.ViewModels

<div class="container">
	<div id="tabstrip">

	</div>
	@*<div id="footer">
		<span id="footerText">&COPY; 2016 Blue Data. All rights reserved. </span>
	</div>*@
</div>

<input type="hidden" value="@User.Identity.Name.Split('\\')[1]"  id="userIdentityName"/>

<script>
    var areaId = 1;
    var regionId = 1;
    var fileOwnerName = $("#userIdentityName").val();
</script>
