﻿@{
    string absoluteUrl = Request.Url.AbsoluteUri.EndsWith("/") ? Request.Url.AbsoluteUri : (Request.Url.AbsoluteUri + "/");
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title Bluedata AnalyticsZone</title>
    <link href="@Url.Content(absoluteUrl+"Content/Site.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(absoluteUrl+"Content/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@(absoluteUrl+"Content/kendo/2016.2.714/kendo.material.min.css")" rel="stylesheet" />
    <script src="@Url.Content(absoluteUrl+"Scripts/kendo/2016.2.714/jquery.min.js")"></script>
    <script src="@Url.Content(absoluteUrl+"Scripts/kendo/2016.2.714/kendo.custom.min.js")"></script>
    <script src="@Url.Content(absoluteUrl+"Scripts/jquery.Jcrop.min.js")"></script>
    <link href="@Url.Content(absoluteUrl+"Content/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(absoluteUrl+"Content/avatar.min.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content(absoluteUrl+"Content/Home.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(absoluteUrl+"Content/Header.min.css")" rel="stylesheet" type="text/css" />
    <script>
        var userName = '@User.Identity.Name.Split('\\')[1]';
        var currentUrl = window.location.href;
        var avatarPath = (currentUrl.slice(-1) == "/" ? currentUrl : (currentUrl + "/")) + "Avatar/GetUserAvatar";       
        var welcomeKitLink = '@System.Configuration.ConfigurationManager.AppSettings["WelcomeKitLink"]';
    </script>
    <script src="@Url.Content(absoluteUrl+"Scripts/layout.min.js")"></script>
    <script src="@Url.Content(absoluteUrl+"Scripts/avatar.min.js")"></script>
    <script src="@Url.Content(absoluteUrl+"Scripts/culture.js")"></script>
    <script src="@Url.Content(absoluteUrl+"Scripts/mainTabstrip.min.js")"></script>

</head>
<body>
    <div class="body-header">
        <div class="header-left-nav">
            <div id="imageContainer">
                <div id="imageUploadContainer" style="display:none;">
                    <input type="file" name="uploadImage" id="uploadImage" accept="image/*" autocomplete="off" />
                </div>
                <div id="avatarToolTip">
                    <img id="userAccIcon" onclick="changeUserIcon()" src="@(absoluteUrl+"Avatar/GetUserAvatar")" onError="this.onerror = null; this.src ='@(absoluteUrl+"Content/Bleudata_icons/accounts/username_icon_default.png")'; ">
                </div>
            </div>
            <div>
                <span id="headerUserName"></span>
            </div>
        </div>
        <div class="header-center-nav" >
            <h1>Bluedata AnalyticsZone</h1>
            <span>A collaboration platform to share data visualizations and analytics</span>
        </div>
        <div class="header-right-nav">
            <div>
                @(Html.Kendo().Button()
                        .Name("dashboardButton")
                        .ImageUrl(Url.Content("~/Content/Bleudata_icons/dashboard.png"))
                        .Content("Dashboard")
                        .Events(e => e.Click("onDashboardOpen"))
                )
                @(Html.Kendo().Button()
                                  .Name("welcomeKitButton")
                                  .Content("Welcome Kit")
                                  .Events(e => e.Click("welcomKitOpen"))
                )
            </div>
        </div>
    </div>

    @RenderBody()

    <div id="footer">
        <span id="footerText">&COPY; 2016 Blue Data. All rights reserved. </span>
    </div>
</body>
</html>

<div id="dashboard_window" style="display:none;"> </div>
<div id="failUserAccount" style="display:none"></div>

@(Html.Kendo().Window()
.Name("avatarUploadWindow")
.Visible(false)
.Modal(true)
.Resizable()
.Draggable()
.Title("Change avatar")
.Content(@<text>
        <div id="avatar-crop-box">
            <img id="crop-avatar-target" />
            <p style="text-align:center;  margin-bottom:0;">
                @(Html.Kendo().Button()
            .Name("SaveNewImage")
            .Content("Save")
            .HtmlAttributes(new { @class = "k-primary" })
            .Events(e => e.Click("saveAvatar"))
                )
            </p>
        </div>
</text>)
)

<script type="text/x-kendo-template" id="dashboardTemplate">
    <div id="dashboard-tabstrip">
        <ul>
            <li>Quick Data Facts</li>
            <li>Top 10 Metrics</li>
        </ul>
        <div><iframe id="quickData" height="500" src="http://bluereport/bi/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=view&ui.object=defaultOutput(%2fcontent%2ffolder%5b%40name%3d%27ALL%20SHARED%20REPORTS%27%5d%2ffolder%5b%40name%3d%27IKMD%27%5d%2ffolder%5b%40name%3d%27Data%20Visualizations%27%5d%2ffolder%5b%40name%3d%27Bluedata%20Landing%20Page%27%5d%2freportView%5b%40name%3d%27Report%20View%20of%20Landing_Page-Data%20Facts%27%5d)&ui.name=Report%20View%20of%20Landing_Page-Data%20Facts&ui.format=HTML&cv.toolbar=false&cv.header=false&CAMUsername=cog&CAMPassword=cog"> </iframe></div>
        <div><iframe id="topMetrics" height="500" src="http://bluereport/bi/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=view&ui.object=defaultOutput(%2fcontent%2ffolder%5b%40name%3d%27ALL%20SHARED%20REPORTS%27%5d%2ffolder%5b%40name%3d%27IKMD%27%5d%2ffolder%5b%40name%3d%27Data%20Visualizations%27%5d%2ffolder%5b%40name%3d%27Bluedata%20Landing%20Page%27%5d%2freportView%5b%40name%3d%27Report%20View%20of%20Landing_Page-Top%2010%27%5d)&ui.name=Report%20View%20of%20Landing_Page-Top%2010&ui.format=HTML&cv.toolbar=false&cv.header=false&CAMUsername=cog&CAMPassword=cog"> </iframe></div>
    </div>
</script>

<script type="text/x-kendo-template" id="failUserTemplate">
    <div style="text-align:center;">
        <h1>Your account: @User.Identity.Name.Split('\\')[1] does not exist! </h1>
        <h3>Please send email to administrator to solve this issue </h3>
        <h4> Administrator email: @System.Web.Configuration.WebConfigurationManager.AppSettings["adminsEmails"]   </h4>
        <p style="margin-bottom:40px;"></p>
    </div>
</script>