﻿@{ 
    var url = "http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 1));
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title Bluedata Manager</title>
    <link href="@Url.Content(url + "Content/Site.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(url + "Content/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(url + "Content/Manager.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(url + "Content/kendo/2016.2.714/kendo.material.min.css")" rel="stylesheet" />
    <script src="@Url.Content(url + "Scripts/kendo/2016.2.714/jquery.min.js")"></script>
    <script src="@Url.Content(url + "Scripts/kendo/2016.2.714/kendo.custom.min.js")"></script>   
    <script src="@Url.Content(url + "Scripts/Manager.min.js")"></script>
    <script src="@Url.Content(url + "Scripts/culture.js")"></script>
   
</head>
<body>


@RenderBody()

</body>
</html>
