﻿	body {
		background-image: url("../Content/Bleudata_icons/background.png");
		font-family: 'Titillium Web', sans-serif;
		/*color: white;*/
	}

	table {
		text-align: left;
		width: 100%;
	}

		table tr td {
			height: auto;
			text-align:left
		}

	label {
		font-weight:600;
	}

	.vertical_line{
	border-bottom: 2px solid #3f53b6 !important;
	width: 400px;
	position: absolute;
	top: 60px;
	left: 30px;
	}
	.box.details {		
		width: 400px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -230px 0 0 -240px;
	}

	.box {
		/*background: #13232f;*/
		padding: 30px;
		max-width: 500px;
		margin: 40px auto;
		border-radius: 4px;
		box-shadow: 0 2px 5px 2px #13232f;
	}

	/*.primary {
		background-color: #64a1d5;
		background-image: linear-gradient(to bottom, #64a1d5, #428bca);
		color: #fff;
		border-color: #428bca;
		min-width: 70px;
		height: 40px;
		width: 120px;
		text-shadow: 0px 1px 0px #3d768a;
		-moz-border-radius: 8px;
		-webkit-border-radius: 2px;
		border-radius: 5px;
		display: inline-block;
		margin-right: 10px;
	}

		.primary:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
			background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
			background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
			background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
			background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
			background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
			background-color: #408c99;
		}

		.primary.k-state-disabled, .primary.k-state-disabled:hover {
			background-color: #8dc5e1;
			color: #fff;
		}

		.primary.redbutton {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
			background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
			background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
			background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
			background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
			background: linear-gradient(to bottom, #d0451b 5%, #bc3315 );
			border: 1px solid #942911;
		}

	.redbutton:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
		background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
		background-color: #bc3315;
	}*/
