﻿	#preview-pane {
		position: absolute;
		right: -120px;
		z-index: 1;
		display: block;
	}

		#preview-pane .preview-container {
			overflow: hidden;
			border-radius: 50%;
			width: 100px; /* ToDo - size of the crop window*/
			height: 100px; /* ToDo - size of the crop window*/
		}

	#SaveNewImage {
		width: 150px;
		height: 45px;
		font-size: 1.2em;       
	}