﻿
.body-header {    
    max-height:100px;
	height: 10%;
	background-color: #3F51B5;
	display: flex;
	justify-content: space-between;
	color: #FBFBFB;
	width: 830px;
	margin: 0 auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.22);
}

#userAccIcon {
	border-radius: 50%;
	height: 55px;
	cursor: pointer;
}

.header-left-nav {
    height:85%;
	display: flex;
	align-items: center;
	width: 230px;
}

	.header-left-nav div:first-child {
		margin-left: 15px;
		margin-bottom: -5px;
	}

	.header-left-nav div:nth-child(2) {
		font-size: 0.8em;
		margin-left: 8px;
	}

.header-center-nav {
    cursor:pointer;
	text-align: center;
    height:95%;
}

	.header-center-nav h1 {
		margin-top: 8px;
		color: #FBFBFB;
	}

	.header-center-nav span {
		font-size: 0.9em;
	}

.header-right-nav {
    height:85%;
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
}

	.header-right-nav button {
		background-color: #5C6DC4 !important;
		border: none !important;
		color: #FBFBFB;
		height: 35px;
		width: 105px;
	}

		.header-right-nav button:focus {
			color: #FBFBFB;
		}

	.header-right-nav div {
	}

#dashboardButton img {
	height: 18px;
	margin-right: 4px;
}
