﻿#ItemName {
		width: 100%;
	}
	div[id^="isShrdAll"]{
	font-size:1.2em;
	}

.k-button .k-image {
	height: 16px;
	margin: 0px 0px 0px 0px;
}
.edit_checkbox{
    font-size:1em;
}

.k-grid td {
	border-width: 0;
}

.fileDescr {
	word-break: break-all;
}

.k-notification-error.k-group {
	background: rgba(100%,0%,0%,.7);
	color: #ffffff;
}

.k-grid td {
	line-height: 1em !important;
}

.wrong-file {
	min-width: 270px;
	min-height: 60px;
	border:none;
    margin-right: 15px;
}

	.wrong-file h3 {
		color: red;
		font-size: 1.1em;
		padding-top: 1px;
	}

	.wrong-file div {
		word-wrap: break-word;
		height: auto;
		margin-top: 5px;
		margin-right: 10px;
	}

	.wrong-file img {
		height: 25px;
		float: left;
		margin: 10px 10px 20px 10px;
	}

/* Success template */

.k-widget.k-notification.k-notification-upload-success.k-popup.k-group.k-reset.k-state-border-up {
	background-color:rgba(0%,60%,0%,.7);   
	color: #fff;
}

.upload-success {   
	min-width: 260px;
	min-height: 60px;
	border:none;
}

	.upload-success h3 {
		color: white;
		font-size: 1.1em;
		padding-top: 1px;
	}

	.upload-success div {
		word-wrap: break-word;
		height: auto;
		margin-top: 5px;
		margin-right: 10px;
	}

	.upload-success img {
		height: 25px;
		float: left;
		margin: 15px 15px 35px 15px;
	}


.nameCol h3 {
	font-weight: 500;
	color: black;
	font-size: 1.3em;
	margin: 0;
	word-break: break-all;
}

.nameCol div.ndescr {
	vertical-align: middle;
	display: table-cell;
}

.nameCol div {
    margin-left:3px;
	font-size: 0.9em;
	vertical-align: middle;
}

.nameCol img {
	height: 25px;
	float: left;
	margin: 2px 5px 0 0;
}

.itemNameCol {
	font-family: Tahoma,Verdana,Segoe;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	letter-spacing: 0.6px;
}

.descriptionCol {
	font-family: Tahoma,Verdana,Segoe;
	margin-left: 30px;
	font-size: 11px;
	letter-spacing: 0.3px;
}

body {
    border:none;
	margin:0;
	background-image: url("../Content/Bleudata_icons/background.png");
}

li {
	list-style-type: none;
	padding-top: 10px;
}

.typeicon {
	height: 30px;
}

.upload-field-list {
	padding: 0;
}

.typeicon {
	vertical-align: -9px;
}

.toolbar {
	width: 100%;
}

.toolbar-right-buttons {
	float: right;
	margin-right: 10px;
}

.toolbar-left-buttons {
	float: left;
}

.submit-btn {
	text-align: center;
}

td:not(:first-child) {
	text-align: center;
}

.k-link {
	text-align: center;
}

.nav-bar {
	height: 2.13em;
	text-indent: .33em;
	line-height: 1.6em;
	padding: 2px .3em;
	width: 66%;
	position: absolute;
	background-color: #fff;
	z-index: 1;
	color: #000000;
	overflow: auto;
}

	.nav-bar:hover {
		border-color: #d5d5d5;
	}

.nav-link {
	text-decoration: none;
}

.type2 {
	cursor: pointer;
}

.type1 {
	cursor: default;
}



div[class*="_Tab"] {
	height: 100%;
	margin: -6px -13px 0px -15px;
	border: 0;
}

div[id^="grid_"] {
	margin: -24px auto 0px;
	margin-top: -24px;
	width: 830px;
	margin-left: -11px;
}

div[class*="_Tab"] > ul.k-tabstrip-items {
	height: 6% !important;	
}

div[class*="_Tab"] > div.k-content.k-state-active {
	height: 94% !important;
	overflow: hidden;
}

div.k-content.k-state-active {
	height: 92%;
	overflow: hidden;
}

html, body {
	height: 100%;
}

.container {
	height: 85%;
}

#footer {
	text-align: center;
	height: 4%;
	position: relative;
	bottom: 0;
	background-color: #3f51b5;
	vertical-align: middle;
	width: 830px;
	margin: 0 auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.22);
}

#footerText {
	margin-top: 10px;
	color: white;
	margin-left: 20px;
	font-size: 1em;
    position: relative;
    top: 3px;
}

#tabstrip {
	height: 100%;
	margin-bottom: 0px;
	border: 0;
}

	#tabstrip div:first-child {
	}

.k-tabstrip {
	border: 0 !important;
}

div.k-widget.k-grid {
	height: 90%;
}

.k-grid-content {
	height: 87% !important;    
}

.k-item.k-state-selected,
.k-item.k-state-selected.k-state-focused {
	background: rgb(102, 102, 255) !important;
	color: white !important;
}

.ncCenter {
	margin-left: 6px;
	width: 60%;
}

.ncRow {
	display: table-row;
	position: relative;
}

.ncLeft, .ncCenter, .ncRight {
	display: inline-block;
}

.ncRow {
	float: left;
	position: relative;
	width: 110px;
	height: 110px;
	padding: 0;
	vertical-align: middle;
}

.ncRight {
	float: right;
	display: none;
}

	.ncRight img {
		display: block;
		height: 13px;
		margin: auto;		
	}



.editButton, .deleteButton {
	color: #444;
	margin-left: 1px;
	border-color: #ebebeb;
	background-color: #FAFAFA;
	box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05);
}


button[id^="upload"] .k-image {
	margin-right: 5px;
	height: 20px;
}


button[id^="backButton"] img.k-image {
	margin: -5px 0px -5px 0px !important;
	height: 25px !important;
}

button[id^="addFolderbtn"] .k-image {
	margin-right: 5px;
	height: 20px;
}

.hoverB {
	display: inline-block;
}


div#tabstrip li.k-item.k-state-default.k-tab-on-top.k-state-active {
	border: none !important;
	color: white;
	background: -moz-linear-gradient(top, rgba(92,109,196,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(92,109,196,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(92,109,196,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6dc4', endColorstr='#007db9e8',GradientType=0 );
}

div[id^="tabstrip-"].k-content.k-state-active {
	border: none;
    height:92%!important;
}

.k-tabstrip .k-content.k-state-active {
	border: none !important;
}

li.k-state-active span.k-loading.k-complete {
	border-top: 2px solid #9CA3C1 !important;
}


th > .k-link {
	font-size: 13px;
	font-weight: 500;
}



div.k-tabstrip {
	background: none transparent;
	border-width: 0;
	background-color: #3F51B5;
}

	div.k-tabstrip .k-tabstrip-items {
		padding: 0;
	}

	div.k-tabstrip .k-content {
		margin: 0;
	}

.k-tabstrip-wrapper {
	background-color: #3F51B5;
	width: 830px;
	margin: 0 auto;
    height: 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.22);
}

ul.k-tabstrip-items.k-reset {
	margin-right: 30px;
}

	ul.k-tabstrip-items.k-reset.area-Tab-Ul {
		margin-top: -2px;
		margin-right: 0px;
	}

div#tabstrip.k-content.k-state-active {
	overflow: hidden;
}

#dashboard-container {
	display: table;
	width: 100%;
}

#dashboardRow {
	display: table-row;
	width: auto;
	clear: both;
}

#factsPanel {
	display: table-column;
	float: left;
	width: 48%;
	margin-left: 1%;
}

#topPanel {
	float: right;
	margin-right: 1%;
	width: 48%;
	display: table-column;
}

.k-panelbar .k-header {
	background-color: #3f51b5 !important;
	color: white !important;
}

.k-link.k-header {
	font-size: 1.2em;
}

.k-widget.k-window.k-window-maximized > .k-window-titlebar.k-header {
	height: 30px !important;
}

#dashboard_window > .k-tabstrip-wrapper {
	width: 100% !important;
}

#dashboard-tabstrip {
	height: 100%;
	margin: -10px -8px 0px -9px;
	border: 0;
}

	#dashboard-tabstrip > .k-content.k-state-active {
		height: 92%;
		overflow: hidden;
	}

	#dashboard-tabstrip ul {
		margin-left: 15px;
		text-align: center;
		font-size: 1.2em;
	}
    .k-image {
    height: 35px;
}



#tabstrip ul {
    text-align: center;
}

    #tabstrip ul.area-Tab-Ul {
        max-height:60px;
        font-size: 1.2em;
        height:8%;
    }
.k-item.k-state-default{
    border-style:none!important;
}

	#dashboard-tabstrip > .k-tabstrip {
		border: 0 !important;
	}

	#dashboard-tabstrip > .k-tabstri > .k-content {
		padding: none !important;
	}

div#dashboard-tabstrip li.k-item.k-state-default.k-tab-on-top.k-state-active {
	border: none !important;
	color: white;
	background: -moz-linear-gradient(top, rgba(92,109,196,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(92,109,196,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(92,109,196,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6dc4', endColorstr='#007db9e8',GradientType=0 );
}

iframe {
	width: 100%;
	height: 100%;
	margin: -5px 0px -8px -11px;
}
