﻿li {
        list-style-type: none;
        padding-top: 10px;
    }

    .typeicon {
        height: 30px;
    }
	 html{
	 height:100%;
	 }

    body {
        margin-top: -10px;
		  height:100%;
    }

    .k-link {
        text-align: center;
    }

	 .k-grid td{
	 line-height: 1em!important;
	 }

    td:not(:first-child) {
        text-align: center;
    }

    /*iNameCol, dCol, imgCol, namesCol*/

    .imgCol {
        width: 35px;
        margin: 0;
        display: table-cell;
    }

    .namesCol {
        display: table-cell;
        vertical-align: middle; 
    }

    .descriptionCol {
        font-size: .75em;
    }

	 .dCol{
	 word-break: break-all;
	 }
    .itemNameCol {
            font-weight: 600;
				
    }

    #grid {
        height: 95% !important;
    }

    .k-grid-content {
        height: 88%  !important;
    }
    th > .k-link {
       font-size: 13px;
       font-weight: 500;
       color: #000 !important;
   }