﻿@model TabNavViewModel
@using FileStorageSystem.ViewModels;

<script src="@Url.Content("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Scripts/grid.min.js")"></script>

<input type="hidden" id="@("fileId"+Model.AreaIndex + "_" + Model.RegionIndex)" />

@(Html.Kendo().Grid<FileItemViewModel>()
                        .Name("grid_" + Model.AreaIndex + "_" + Model.RegionIndex)
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ItemName).Title("Name").Width(400).ClientTemplate(
                                "<div class='nameCol' > " +
                                                     "<div class='ncRow" + Model.AreaIndex + "_" + Model.RegionIndex + "'>" +
                                                          "<div class='ncLeft typeOfFileItem#=TypeOfSystemItemID#" + Model.AreaIndex + "_" + Model.RegionIndex + " type#=TypeOfSystemItemID#' data-value=\"#=FileSystemItemID#\" data-name=\"#=ItemName#\">" +
                                                                "<img class='typeicon' src='http://" + Url.Content(Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/extensions/") + "#:data.FileExtensionId#.png' onError=\"this.onerror = null; this.src = 'http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/extensions/_blank.png'; \" > </img>" +
                                                          "</div>" +
                                                          "<div class='ncCenter typeOfFileItem#=TypeOfSystemItemID#" + Model.AreaIndex + "_" + Model.RegionIndex + " type#=TypeOfSystemItemID#' data-value=\"#=FileSystemItemID#\" data-name=\"#=ItemName#\">" +
                                                                "<h3>#: ItemName#</h3>" +
                                                                "#if((ItemDescription!=\"\")&&(ItemDescription != null)){#" +
                                                                     "<div class='fileDescr'>" +
                                                                             " #:ItemDescription#" +
                                                                     "</div>" +
                                                                "#}#" +
                                                          "</div>" +
                                                          "<div class='ncRight' id='nRightButtons'" + "#if((ItemDescription!=\"\")&&(ItemDescription != null)){#" +

                                                                "#}#" + ">" +

                                                                "<button type =\"button\" class=\"deleteButton\" id='editItem" + Model.AreaIndex + "_" + Model.RegionIndex + "'><img class=\"btnImages\" src=\"http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/actions/edit_item.png\" ></button>" +
                                                                 "<button type=\"button\" class=\"editButton\" id = 'deleteItem" + Model.AreaIndex + "_" + Model.RegionIndex + "'><img class=\"btnImages\" src=\"http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/actions/delete_item.png\" ></button>" +
                                                          "</div>" +
                                                     "</div>" +
                                                "</div>"
                                      );
                            columns.Bound(c => c.OwnerName).Title("Uploaded by").Width(130);
                            columns.Bound(c => c.CreatingDate).Format("{0: dd/MM/yyyy}").Title("Upload date").Width(130);
                        })
                        .ToolBar(toolbar =>
                        {
                        toolbar.Template(@<text>
        <div class="toolbar">
            <div class="toolbar-left-buttons">
                @(Html.Kendo().Button()
                                        .Name("backButton" + Model.AreaIndex + "_" + Model.RegionIndex)
                                        .ImageUrl(Url.Content("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/toolbar/back.png"))
                                        .Events(ev => ev.Click("onBackClick"))
                )
            </div>
            <div id="@("nav-bar"+Model.AreaIndex+"_"+Model.RegionIndex)" class="k-textbox nav-bar">
                <span>~ </span>
                <a class="nav-link" id="@("navToRootFolder"+Model.AreaIndex+"_"+Model.RegionIndex)">root</a>
                <span> > </span>
            </div>
            <div class="toolbar-right-buttons">
                @(Html.Kendo().Button()
                                        .Name("upload" + Model.AreaIndex + "_" + Model.RegionIndex)
                                        .ImageUrl(Url.Content("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/toolbar/upload.png"))
                                        .Content("Upload file")

                )
                @(Html.Kendo().Button()
                                        .Name("addFolderbtn" + Model.AreaIndex + "_" + Model.RegionIndex)
                                        .ImageUrl(Url.Content("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/toolbar/add_folder.png"))
                                        .Content("Add folder")
                )
            </div>
        </div>
                        </text>);
                        })
                        .DataSource(dataSource => dataSource
                                .Ajax()
                                .ServerOperation(false)
                                .Sort(sort =>
                                {
                                    sort.Add(product => product.TypeOfSystemItemID).Ascending();                                  

                                })
                                .Read(read => read.Action("Get_items", "Grid", new { areaId = Model.AreaIndex, regionId = Model.RegionIndex }))
                                .Model(model =>
                                {
                                    model.Id(i => i.FileSystemItemID);
                                })
                                )
                        .Scrollable()
                        .Sortable()
                        .Events(e => e
                            .DataBound("onDataBound")
                             )
)


@(Html.Kendo().Window()
        .Name("deleteDialog" + Model.AreaIndex + "_" + Model.RegionIndex)
        .Title("Delete")
        .Modal(true)
        .Visible(false)
        .Content(@<text>
            <input type="hidden" id="@("delFileID"+Model.AreaIndex+"_"+Model.RegionIndex)" />
            <div style="text-align:center; font-size:20px;">
                <h3>Are you sure?</h3>
            </div>
            <div style="text-align: center;  margin: 30px 0 0 0; ">
                @(Html.Kendo().Button()
                                .Name("btnSubmitDelete" + Model.AreaIndex + "_" + Model.RegionIndex)
                                .HtmlAttributes(new { @class = "k-primary", style = "height: 40px; width: 120px; margin-right: 30px;" })
                                .Content("Yes")
                                .Events(e => e.Click("submitDelete"))
                )
                @(Html.Kendo().Button()
                                .Name("btnCancelDelete" + Model.AreaIndex + "_" + Model.RegionIndex)
                                .Content("Cancel")
                                 .HtmlAttributes(new { style = "height: 40px; width: 120px;" })
                                 .Events(e => e.Click("cancelDelete"))
                )
            </div>
        </text>)
        .Draggable(true)
        .Width(350)
        .Height(150)
)

@(Html.Kendo().Window()
          .Name("add_folder_window" + Model.AreaIndex + "_" + Model.RegionIndex)
          .Title("Add folder")
          .Modal(true)
          .Content(@<text>
            <div class="add-folder-section" style="padding-right:38px; padding-left:0px;">
                <ul class="add-folder-field-list">
                    <li>
                        @Html.Label("Please enter folder name")
                    </li>
                    <li>
                        @Html.Kendo().TextBox().Name("folderNameTextbox" + Model.AreaIndex + "_" + Model.RegionIndex).HtmlAttributes(new { style = "width:100%;" })
                    <li>
                        @Html.Label("Description:")
                        @Html.TextArea("textarea", "", new { id = "folderDescrTxb" + Model.AreaIndex + "_" + Model.RegionIndex, @class = "k -textbox", style = "width: 97%;" })
                    </li>

                    <li>
                        <label> <input type="checkbox" name="isShareForAll" id="@("folderIsShareForAllChkb"+ Model.AreaIndex + "_" + Model.RegionIndex)" /> Is shared to all</label>
                    </li>
                    <li>

                        @Html.Label("Share to: ", new { style = "font-weight: 400;" })
                        @(Html.Kendo().MultiSelect()
                .Name("folderUserMultiSelect" + Model.AreaIndex + "_" + Model.RegionIndex)
                .Placeholder("Select user...")
                .DataTextField("UserName")
                .DataValueField("UserName")
                .Placeholder("Select user...")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetUsers", "Grid");
                    });
                })
                        )
                    </li>

                    <li>
                        <div class="submit-btn">
                            @(Html.Kendo().Button()
                     .Name("btnSubmitAddFolder" + Model.AreaIndex + "_" + Model.RegionIndex)
                     .HtmlAttributes(new { @class = "k-primary", style = "height:40px; width: 120px; padding-down:20px; " })
                     .Content("Submit")
                     .Events(e => e.Click("submitAddFolder"))
                            )
                        </div>
                    </li>
                </ul>
            </div>
        </text>)
            .Draggable()
          .Resizable()
          .Width(450)
          .Visible(false)
     .Actions(actions => actions.Close())
)


@(Html.Kendo().Window()
          .Name("upload_window" + Model.AreaIndex + "_" + Model.RegionIndex)
          .Title("Upload file")
          .Modal(true)
          .Content(@<text>
            <div class="upload-section" style="padding-right:38px; padding-left:0px;">
                <ul class="upload-field-list" style="margin-left: 40px;">
                    <li>
                        @Html.Label("Please choose your file")
                    </li>
                    <li>
                        <div class="kendo-upload">
                            <input type="file" autocomplete="off" name="files" id="@("files"+Model.AreaIndex + "_" + Model.RegionIndex)" />
                        </div>
                    </li>
                    <li>
                        @Html.Label("File Name:")
                        @Html.Kendo().TextBox().Name("itemNameTextbox" + Model.AreaIndex + "_" + Model.RegionIndex).HtmlAttributes(new { style = "width: 100%;" })
                    </li>
                    <li>
                        @Html.Label("Description:")
                        @Html.TextArea("textarea", "", new { id = "descriptionTextbox" + Model.AreaIndex + "_" + Model.RegionIndex, style = "width: 97%;" })
                    </li>
                    <li>
                        <label> <input type="checkbox" name="isShareForAll" id="@("isShareForAllChkb"+Model.AreaIndex+"_"+Model.RegionIndex)" />   Is shared to all </label>
                    </li>
                    <li>
                        @Html.Label("Share to: ", new { style = "font-weight: 400;" })
                        @(Html.Kendo().MultiSelect()
                .Name("userMultiSelect" + Model.AreaIndex + "_" + Model.RegionIndex)
                .Placeholder("Select user...")
                .DataTextField("UserName")
                .DataValueField("UserName")
                .Placeholder("Select user...")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetUsers", "Grid");
                    });
                })
                        )
                    </li>
                    <li>
                        <div class="submit-btn">
                            @(Html.Kendo().Button()
                     .Name("btnSubmitUpload" + Model.AreaIndex + "_" + Model.RegionIndex)
                     .HtmlAttributes(new { @class = "button k-button k-primary", style = "height:40px; width: 120px; padding-down:20px; " })
                     .Content("Submit")
                     .Events(e => e.Click("submitUploadFile"))
                            )
                        </div>
                    </li>
                </ul>
            </div>
        </text>)
            .Draggable()
          .Resizable()
          .Width(450)
          .Visible(false)
     .Actions(actions => actions.Close())
)

<div id="@("edit_window" + Model.AreaIndex + "_" + Model.RegionIndex)"></div>


@(Html.Kendo().Notification()
         .Name("popupNotification" + Model.AreaIndex + "_" + Model.RegionIndex)
         .AutoHideAfter(0)
         .Templates(t =>
         {
             t.Add().Type("error").ClientTemplateID("errorTemplate" + Model.AreaIndex + "_" + Model.RegionIndex);
             t.Add().Type("upload-success").ClientTemplateID("successTemplate" + Model.AreaIndex + "_" + Model.RegionIndex);
         })
)
<script id="@("errorTemplate"+ Model.AreaIndex + "_" + Model.RegionIndex)" type="text/x-kendo-template">
    <div class="wrong-file">
        <img src="@("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/notification/error-icon.png")" />
        <h3>#= title #</h3>
        <div>#= message #</div>
    </div>
</script>
<script id="@("successTemplate"+ Model.AreaIndex + "_" + Model.RegionIndex)" type="text/x-kendo-template">
    <div class="upload-success">
        <img src="@("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2)) + "Content/Bleudata_icons/notification/upload-success-icon.png")" />
        <h3>#= title #</h3>
        <div> #= message #</div>
    </div>
</script>


