﻿@model FileStorageSystem.ViewModels.FileItemViewModel

<script>
    var areaIndx='@Model.AreaId';
    var regionIndx='@Model.RegionId';
    var typeOfItem='@Model.TypeOfSystemItemID';
    var parFolderId='@Model.ParentFolderID';
</script>

<script src="@Url.Content("http://"+Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 2))+"Scripts/editFileItem.min.js")"></script>


@using (Html.BeginForm("EditItem","File",FormMethod.Post,new { id="editForm"+Model.AreaId+"_"+Model.RegionId }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal " style="margin-left:30px; margin-right:30px;">

		<div class="edit-upload">
			@Html.Label("Reload file")

			<input type="file" name="files" id="@("files"+Model.AreaId + "_" + Model.RegionId+"_")" />

		</div>

	    <div class="form-group">
	        @Html.Label("Name:")	        
	        <div class="col-md-10">
                @Html.TextBoxFor(m=>m.ItemName,new {id= "ItemName" + Model.AreaId + "_" + Model.RegionId })  
	        </div>
	    </div>
	    <div class="form-group">
	        @Html.Label("Description:")
	       
	        <div class="col-md-10">
	            @Html.TextAreaFor(m => m.ItemDescription, new {@class = "form-control", style = "width: 97%; resize:none", @rows = 4, id= "ItemDescription" + Model.AreaId + "_" + Model.RegionId })

	        </div>
	    </div>
		@Html.HiddenFor(model => model.AreaId)
		@Html.HiddenFor(model => model.CreatingDate)
		@Html.HiddenFor(model => model.ParentFolderID)
		@Html.HiddenFor(m => m.FileSystemItemID, new { id = "fsitem" + Model.AreaId + "_" + Model.RegionId })
		@Html.HiddenFor(m => m.isEditable, new { id = "isEditable" + Model.AreaId + "_" + Model.RegionId })
		@Html.HiddenFor(model => model.RegionId)
		@Html.HiddenFor(model => model.OwnerName)
		@Html.HiddenFor(model => model.TypeOfSystemItemID)
		@Html.HiddenFor(model => model.isApproved)
		
		<div id="@("isShrdAll"+Model.AreaId+"_"+Model.RegionId)">
            <label class="edit_checkbox">
                @Html.CheckBoxFor(m => m.IsSharedToAllBool, new Dictionary<string, object>
                {
                          { "id", "isShrdAll"+Model.AreaId+"_"+Model.RegionId }

                }) Is shared to all
        </label>	
		</div>
		

		@Html.Label("Share to: ")

		@(Html.Kendo().MultiSelect()
								.Name("editUsersMultiSelect" + Model.AreaId + "_" + Model.RegionId)
								.Placeholder("Select user...")
								.DataTextField("UserName")
								.DataValueField("UserName")
								.Placeholder("Select user...")
								.DataSource(source =>
								{
									source.Read(read =>
									{
										read.Action("GetUsers", "Grid");
									});
								})
		)

		<div style="margin-top:25px; text-align:center; margin-bottom:10px;">
			@(Html.Kendo().Button()
							.Name("SubmitEdit" + Model.AreaId + "_" + Model.RegionId)
							.HtmlAttributes(new { @class = "k-primary", style = "height:40px; margin-right:10px; width: 120px; padding-down:20px; " })
							.Content("Submit")
			)

			@(Html.Kendo().Button()
							.Name("cancelEdit" + Model.AreaId + "_" + Model.RegionId)
							.HtmlAttributes(new { style = "height:40px; width: 120px; padding-down:20px; " })
							.Content("Cancel")
							
			)
		</div>
	</div>
}

