﻿@model FileStorageSystem.ViewModels.FileItemViewModel
@{ 
    var url = "http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 4));
}
@using Kendo.Mvc.UI

<link href="@Url.Content(url+"Content/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content(url+"Scripts/kendo/2016.2.714/jquery.min.js")"></script>
<script src="@Url.Content(url+"Scripts/kendo/2016.2.714/kendo.custom.min.js")"></script>
<link href="@Url.Content(url + "Content/kendo/2016.2.714/kendo.material.min.css")" rel="stylesheet" />
<link href="@Url.Content(url+"Content/approveUpload.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content(url+"Scripts/approveUpload.min.js")"></script>

<div class="box details">
    <div class="boxBody" style="font: 22px/22px Arial, Helvetica, Sans-serif;">
        @Html.HiddenFor(m => m.FileSystemItemID, new { id = "itemId" })
        <div style="text-align: center; margin-bottom: 20px; ">
            @Html.Label("Request to approve upload file ")
            <span class="vertical_line"> </span>
        </div>

        <table style="font-weight: 300;" width="300" class="aproveTable">
            <tr>
                <td>
                    @Html.Label("File name: ")

                </td>
                <td style="padding-left: 15px;">
                    <span style="word-break:break-all;">
                        @Html.DisplayFor(m => m.ItemName)
                    </span>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Uploaded user: ")

                </td>
                <td style="padding-left: 15px;">
                    @Html.DisplayFor(m => m.OwnerName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("File description: ")

                </td>
                <td style="padding-left: 15px; word-break:break-all;">
                    @Html.DisplayFor(m => m.ItemDescription)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Area: ")

                </td>
                <td style="padding-left: 15px;">
                    @Html.DisplayFor(m => m.AreaName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Region: ")

                </td>
                <td style="padding-left: 15px;">
                    @Html.DisplayFor(m => m.RegionName)
                </td>
            </tr>
        </table>

        <div class="actionButtons">


            @if (Model.isApproved == 0)
{
                <div class="demo-section" style="text-align: center; margin-top: 20px; width: 410px;">
                    @*<input type="button" value="Approve" onclick="onApprove()" class="primary" />*@
                    @(Html.Kendo().Button()
                .Name("Approve")
                .Content("Approve")
                .HtmlAttributes(new { style = "width: 110px; font-size: 0.8em;  margin-right: 10px;" })
                .Events(e => e.Click("onApprove"))
                    )
                    @(Html.Kendo().Button()
                .Name("Download")
                .Content("Download")
                .HtmlAttributes(new { style = "width: 140px; font-size: 0.8em;  margin-right: 10px;" })
                .Events(e => e.Click("onDownload"))
                    )
                    @(Html.Kendo().Button()
                .Name("Delete")
                .HtmlAttributes(new { @class = "k-primary", style = "width: 110px; font-size: 0.8em;" })
                .Content("Delete")
                .Events(e => e.Click("onDelete"))
                    )
                    @*<input type="button" value="Download" onclick="onDownload()" class="primary" />
                        <input type="button" value="Delete" onclick="onDelete()" class="primary redbutton " />*@
                </div>}
            else
            {
                <div class="demo-section" style="text-align: center; margin-top: 20px; width: 410px;">
                    @*<input type="button" value="Reject" onclick="onReject()" class="primary" />*@
                    @(Html.Kendo().Button()
                .Name("Reject")
                .Content("Reject")
                .HtmlAttributes(new { style = "width: 110px; font-size: 0.8em; margin-right: 10px;" })
                .Events(e => e.Click("onReject"))
                    )
                    @(Html.Kendo().Button()
                .Name("Download")
                .Content("Download")
                .Events(e => e.Click("onDownload"))
                .HtmlAttributes(new { style = "width: 140px; font-size: 0.8em; margin-right: 10px;" })
                    )
                    @(Html.Kendo().Button()
                .Name("Delete")
                .HtmlAttributes(new { @class = "k-primary", style = "width: 110px; font-size: 0.8em;" })
                .Content("Delete")
                .Events(e => e.Click("onDelete"))
                    )
                    @*<input type="button" value="Download" onclick="onDownload()" class="primary" />
                        <input type="button" value="Delete" onclick="onDelete()" class="primary redbutton " />*@
                </div>}

        </div>
    </div>
</div>
