﻿@using Kendo.Mvc.UI;
@using FileStorageSystem.ViewModels;


@(Html.Kendo().Grid<FileStorageSystem.ViewModels.FileItemViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.ItemName).HeaderHtmlAttributes(new { style = "display: Name" }).ClientTemplate(

                         "<div class='imgCol'> " +
                             "<img class='typeicon' src='" + Url.Content("http://" + Request.Url.Authority + string.Join(null, Request.Url.Segments, 0, (Request.Url.Segments.Length - 1)) + "Content/Bleudata_icons/extensions/") + "#:data.FileExtensionId#.png' onError=\"this.onerror = null; this.src = '/Images/512px/_blank.png'; \"" +
                              "#if((ItemDescription!=\"\")&&(ItemDescription != null)){#" +
                              "style='padding-top:5px'" +
                               "#}#" +
                         "> </img>" +
                         "</div>" +
                             "<div class='namesCol'>" +
                             "<div class='iNameCol'>" +
                                 "<span class='itemNameCol'>#: ItemName#</span>" +
                             "</div>" +
                             "#if((ItemDescription!=\"\")&&(ItemDescription != null)){#" +
                              "<div class='dCol'>" +
                                  "<span class='descriptionCol'>#:ItemDescription#</span>" +
                             "</div>" +
                             "#}#" +
                         "</div>"
                  ).HtmlAttributes(new { @class = "typeOfFileItem#=TypeOfSystemItemID#", data_value = "#=FileSystemItemID#", data_name = "#=ItemName#" }).Title("Name");

              columns.Bound(c => c.OwnerName).Width(140).Title("Uploaded by");
              columns.Bound(c => c.AreaName).Width(100).Title("Area");
              columns.Bound(c => c.RegionName).Width(100).Title("Region");
              columns.Bound(c => c.CreatingDate).Format("{0: dd/MM/yyyy}").Width(150).Title("Uploaded");
              columns.Bound(p => p.TypeOfSystemItemID).ClientTemplate(
                    "#if(TypeOfSystemItemID==2){#" +
                     "<button class='k-button' name='btnDownload' data-value=\"#=FileSystemItemID#\" id=\"btnDownload\" height=\"50\">Download</button>" +
                     "#}#"
                         ).Width(100).Title("Download");
              columns.Bound(p => p.isApproved).ClientTemplate(
                    "#if(isApproved==0){#" +
                     "<button class='k-button approve-button' name='actionButton' data-value=\"#=FileSystemItemID#\" data-name=\"#=isApproved#\" id=\"actionButton\" height=\"50\">Approve</button>" +
                     "#}#" +
                     "#if(isApproved==1){#" +
                     "<button class='k-button reject-button' name='actionButton' data-value=\"#=FileSystemItemID#\" data-name=\"#=isApproved#\" id=\"actionButton\" height=\"50\">Reject</button>" +
                     "#}#"
                         ).Width(100).Title("Action");
              columns.Bound(p => p.TypeOfSystemItemID).ClientTemplate(
                    "#if(TypeOfSystemItemID==2){#" +
                     "<button class='k-button' name='rejectButton' data-value=\"#=FileSystemItemID#\" id=\"deleteButton\" height=\"50\">Delete</button>" +
                     "#}#"
                         ).Width(100).Title("Delete");

          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("FileSystemItem"))
          .ToolBar(toolbar =>
          {
              toolbar.Template(@<text>
        <div class="toolbar">
            @(Html.Kendo().Button()
                                        .Name("allFilesButton")
                                        .Content("All files")
                                        .Events(ev => ev.Click("allFilesButtonClick"))
                                        .HtmlAttributes(new { @class = "k-button" })
            )
            @(Html.Kendo().Button()
                                        .Name("pendingFilesButton")
                                        .Content("Pending files")
                                        .Events(ev => ev.Click("pendingFilesButtonClick"))
                                        .HtmlAttributes(new { @class = "k-button" })
            )
            @(Html.Kendo().Button()
                                        .Name("approvedFilesButton")
                                        .Content("Approved files")
                                        .Events(ev => ev.Click("approvedFilesButtonClick"))
                                        .HtmlAttributes(new { @class = "k-button" })
            )


        </div>
        </text>);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Sortable(s=>s.SortMode(GridSortMode.MultipleColumn))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Get_items", "Manage", new { area = "Manager" }))
            .Model(model =>
            {
                model.Id(i => i.FileSystemItemID);
            })
            )
        .Events(e => e.DataBound("onDataBound"))
)
